<% layout('/auth/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/guest/docs.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/guest/docs.js') -%>

<section class="errorPage">
    <!-- Header -->
    <header class="header" id="header">
        <nav>
            <br>
            <center>
                <a href="javascript:void(0);" style="display: block;" class="logoCon" style="box-sizing: content-box;">
                    <img src="/lib/img/logo/logoLandscape.png" id="logo" width="220" alt="logo">
                </a>
            </center>
            <br>
        </nav>
    </header>
    <br>
    <center>
        <section class="text-center text-dark"
            style="width: 50%; padding: 50px; margin-bottom: 70px; border-radius: 10px; background-color: #f6f6f6;">
            <br>
            <h2 style="font-weight: lighter; padding-bottom: 5px;">
                Forgot your password?
            </h2>
            <small class="text-muted " style="font-weight: lighter">Enter your email to receive a link reset to
                password.</small>
            <p>
                <center>
                    <div class="form-group mb-3 col-md-10 col-sm-12">
                        <form action="/forgotPassword" method="POST">
                            <input type="text" name="forgotpasswordEmail" id="forgotpasswordEmail" class="form-control"
                                placeholder="Email" style="border: 1px solid #ddd !important;" autofocus required>
                            <br>
                            <button type="submit" class="btn waves-effect waves-light bg-Primary_color">Send
                                link</button>
                        </form>
                        <small>
                            <br>
                            <a href="/" class="text-dark" style="min-width: 100px;">Back to Home</a>
                        </small>
                    </div>
                </center>
            </p>
        </section>
    </center>
    <br><br><br><br><br><br><br>
</section>