<% layout('/auth/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/guest/index.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/guest/index.js') -%>

<div class="body">
    <!-- Welcome Page -->
    <section class="Frame row">
        <!-- Info container -->
        <div class="col-md-8 col-sm-12 infoCon" id="infoCon">
            <!-- Header -->
            <header class="header" id="header">
                <nav>
                    <center>
                        <a href="/" style="display: block;" class="logoCon" style="box-sizing: content-box;">
                            <img src="/lib/img/logo/logoLandscape.png" id="logo" width="220" alt="logo">
                        </a>
                    </center>
                </nav>
            </header>
            <br>
            <div class="jb" id="jb">
                <h1>Built for <span id="jb_lovers" class="bg-Primary_color">Lovers</span></h1>
                <br>
                <p>
                    Tosettledown (TSD) is a <b>Matchmaking</b> and <b>Dating</b> platform inspired by the way singles
                    communicate.
                    From been single to getting married, you also can promote and sell marriage related items and
                    contents, ie. Wedding rings, Wedding gowns etc, alongside other interesting items.
                </p>
                <br>
                <div class="btnCon waves-effect waves-light">
                    <a href="/#loginForm" role="button" class="btn waves-effect waves-light" style="min-width: 100px;"
                        id="loginBtn">Sign
                        In</a>
                </div>
            </div>
        </div>
        <!-- Forms container -->
        <div class="col-md-4 col-sm-12 detailsCon" id="detailsCon">
            <!-- SIGN UP -->
            <form action="/auth/0/signup" method="POST" name="regForm" id="regForm" class="regBody">
                <!-- Header -->
                <header class="regHead" style="margin-bottom: 50px;">
                    <h2 style="font-weight: lighter;">SIGN UP</h2>
                    <div style="width: 30px; height: 2px; background-color: #ff6878;"></div>
                </header>
                <div class="details">
                    <!-- Full Name -->
                    <div class="form-group mb-3">
                        <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full name"
                            maxlength="50" required>
                    </div>
                    <div class="form-row align-items-center">
                        <!-- Username -->
                        <div class="col-6 col-md-6 col-sm-6 col-auto mb-3">
                            <input type="text" name="username" id="reg_username" class="form-control"
                                placeholder="Username" required>
                        </div>
                        <!-- Email -->
                        <div class="col-6 col-md-6 col-sm-6 col-auto mb-3">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                                required>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group mb-3">
                        <input type="password" name="password" id="reg_password" class="form-control"
                            placeholder="Password" minlength="8" maxlength="30"
                            title="Password must be 8 characters and above." required>
                    </div>
                    <!-- Gender & DOB -->
                    <div class="form-row">
                        <!-- DOB -->
                        <div class="col-12 col-auto mb-3">
                            <span class="format hide">Date format: Year-Month-Date</span>
                            <div class="col-auto row">
                                <div class="col-5">
                                    <select name="dobMonth" id="dobMonth" class="form-control" aria-placeholder="Month"
                                        required>
                                        <option label="Month"></option>
                                        <option value="01">January</option>
                                        <option value="02">Feburary</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="col-3" style="padding-left: 0px;">
                                    <select name="dobDay" id="dobDay" class="form-control" aria-placeholder="Day"
                                        required>
                                        <option label="Day"></option>
                                        <% for (let i = 1; i <= 31; i++) { %>
                                            <% let nI = Number(i).toString().length == 1 ? `0${i}` : i; %>
                                        <option value="<%= nI %>"><%= nI %></option>
                                        <% } %>
                                    </select>
                                    <small></small>
                                </div>
                                <div class="col-4" style="padding-left: 0px;">
                                    <select name="dobYear" id="dobYear" class="form-control" aria-placeholder="Year"
                                        required>
                                        <option label="Year"></option>
                                        <% let allowedYears = 100; %>
                                        <% for (let i = 18; i <= allowedYears; i++) { %>
                                        <option value="<%= new Date().getFullYear() - i %>">
                                            <%= new Date().getFullYear() - i %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Gender -->
                        <div class="col-12 col-auto mb-3">
                            <select name="gender" id="gender" class="form-control" required>
                                <option label="Gender" value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <br>
                        </div>
                    </div>
                </div>
                <!-- Sign Btn -->
                <div class="regFoot">
                    <div class="form-group">
                        <button type="submit" id="regSubmitForm" class="form-control btn bg-success text-light"
                            style="padding: 15px 0px !important; margin-bottom: 5px;"
                            aria-describedby="submitFormHelp">Sign
                            up with Tosettledown</button>
                        <small id="submitFormHelp" class="text-muted">By clicking
                            <b class="text-dark"><i>"Sign up with Tosettledown"</i></b>,
                            you agree to our <a href="/terms">terms of services</a>, <a href="/policy">privacy
                                policy</a> and <a href="/cookie">cookie policy</a>.
                        </small>
                    </div>
                </div>
            </form>
            <!-- END OF SIGN UP -->

            <!-- SIGN IN -->
            <form action="/auth/0/signin" method="POST" name="loginForm" id="loginForm" class="loginBody">
                <!-- Header -->
                <header class="loginHead" style="margin-bottom: 40px;">
                    <h2 style="font-weight: lighter;">SIGN IN</h2>
                    <div style="width: 30px; height: 2px; background-color: #ff6878;"></div>
                </header>
                <div class="details" style="padding: 60px 0px; padding-top: 100px;">
                    <!-- Username -->
                    <div class="form-group mb-3">
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                            required>
                    </div>
                    <!-- Password -->
                    <div class="form-group mb-3">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                            autocomplete required>
                    </div>
                    <div class="mb-2">
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox mb-2" style="padding-left: 30px;">
                            <input type="checkbox" id="remember" name="remember" class="custom-control-input"
                                value="remember" checked>
                            <label class="custom-control-label" for="remember">Remember Me</label>
                        </div>
                    </div>
                    <!-- Sign Btn -->
                    <div class="loginFoot">
                        <div class="form-group">
                            <button type="submit" id="loginSubmitForm" class="form-control btn bg-success text-light"
                                style="padding: 15px !important;">Sign In</button>
                        </div>
                        <div class="text-center">
                            <small>
                                <a href="/#regForm" class="text-dark float-left"
                                    onclick="$('#loginBtn').trigger('click');">
                                    Not a user?, Sign Up
                                </a>

                                <!-- Forgot Password -->
                                <a href="/forgotPassword" class="float-right">Forgot password?</a>
                            </small>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </form>
            <!-- END OF SIGN IN -->
            <!--            footer-->
            <footer class="footer text-muted float-right" style="padding: 10px; padding-right: 40px;">
                <footer class="footer text-muted float-right" style="border: none; left: unset;">
                    <small style="font-size: 75%;">
                        All right reserved
                        <%= new Date().getFullYear() == 2019 ? new String(`&copy; ${new Date().getFullYear()}`) : "" %>
                        <b class="text-dark">Tosettledown, Inc.</b>
                        <br>
                        <span class="float-right <%= new Date().getFullYear() == 2019 ? 'hide' : 'show' %>">&copy;
                            <%= new String(`2019 - ${new Date().getFullYear()}`) %></span>
                    </small>
                </footer>
                <br><br>
            </footer>
        </div>
    </section>
</div>