<% layout('/auth/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/guest/docs.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/guest/docs.js') -%>

<section class="cookieCon">

    <section class="logoCon">
        <!-- Header -->
        <header class="header" id="header">
            <nav>
                <div style="text-align: center;">
                    <a href="javascript:void(0);" style="display: block;" class="logoCon"
                       style="box-sizing: content-box;">
                        <img src="/lib/img/logo/logoLandscape.png" id="logo" width="200" alt="logo">
                    </a>
                </div>
                <br><br>
                <div class="btn waves-effect waves-lightCon">
                    <a href="/" role="button" class="btn waves-effect waves-light float-right">Back to Home</a>
                </div>
            </nav>
        </header>
        <br>
    </section>

    <section class="cookieMessage">
        <div style="text-align: center;">
            <p>Your Account Has Not Been Verified, Please Check your Email for verification link</p>
            <p>click here to send another verification mail <a href="/auth/0/verify/resend">Send Now</a></p>
        </div>

    </section>

    <br><br>
    <%- partial('/auth/layout/footer.html') %>
</section>