<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToSettleDown :: A matchmaking and dating platform -- Built for lovers</title>
    <!-- App css -->
    <!-- Components -->
    <link href="/components/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/components/css/icons.css" rel="stylesheet" />
    <link href="/components/css/metismenu.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../lib/img/logo/logo2-single.png" type="image/x-icon">

    <!-- Library -->
    <link rel="stylesheet" href="/lib/css/main.css">

    <!-- Defaultly, Let every Element have this styling -->
    <style>
        * {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        *::-moz-selection {
            color: #ffffff;
            background-color: #dc3545;
        }

        *::-webkit-selection {
            color: #ffffff;
            background-color: #dc3545;
        }

        *::selection {
            color: #ffffff;
            background-color: #dc3545;
        }
    </style>
    <script src="/components/js/modernizr.min.js"></script>
</head>

<body>

    <%- body %>

    <!-- jQuery  -->
    <script src="/components/js/jquery.min.js"></script>
    <script src="/components/js/popper.min.js"></script>

    <!-- Popper for Bootstrap -->
    <script src="/components/js/bootstrap.min.js"></script>
    <script src="/components/js/metisMenu.min.js"></script>
    <script src="/components/js/waves.js"></script>
    <script src="/components/js/jquery.slimscroll.js"></script>

    <!-- App js -->
    <script src="/components/js/jquery.core.js"></script>
    <script src="/components/js/jquery.app.js"></script>

    <!-- Scripts -->
    <script src="/lib/scripts/main.js"></script>
    <script src="/lib/scripts/index.js"></script>
</body>

</html>