<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%='Tosettledown :: ' + title %>...</title>
    <!-- Components -->
    <link href="/components/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/components/css/icons.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/lib/img/logo/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet"> <!-- Oleo Script -->

    <!-- Library -->

    <link rel="stylesheet" href="/lib/css/main.css">
    <link rel="stylesheet" href="/lib/css/mobile.css">

    <link rel="stylesheet" href="/lib/css/guest/_main.css">

    <!--  Include Page CSS Dynamically  -->
    <%-stylesheets%>

</head>

<body>
    <!-- Messaging -->
    <div class="sr-only">
        <%- messages() %>

        <% if(typeof errors != "undefined") { %>
        <% errors.forEach(err => { %>
        <div id="messages">
            <ul class="error">
                <li><%= err.msg %></li>
            </ul>
        </div>
        <% })} %>
    </div>
    <%- body %>
    <!-- Components -->
    <script src="/components/js/jquery.min.js"></script><!-- jQuery  -->
    <script src="/components/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="/components/js/bootstrap.min.js"></script>

    <!-- Sweetalert  -->
    <script src="/components/js/sweetalert.js"></script>
    
    <script src="/lib/scripts/main.js"></script>
    <script src="/lib/scripts/mobile.js"></script>

    <!--  Include Page JS Dynamically  -->
    <script src="/lib/scripts/guest/_main.js"></script>
    <%-scripts%>
</body>

</html>