<!-- PROFILEBAR -->
<section class="profileBar col-md-3 col-sm-4" id="profileBar">
    <div class="container">
        <!-- logo -->
        <div class="logoCon" id="logoCon">
            <div class="logo">
                <center>
                    <a href="javascript:void(0);" style="display: block; cursor: default;">
                        <img src="/lib/img/logo/logoLandscape.png" id="logo" width="190" alt="logo">
                    </a>
                </center>
            </div>
        </div>

        <!-- Profile -->
        <div class="profileCon" id="profileCon">
            <div class="profileSection">
                <a href="/app/profile/<%= user.username %>" class="activeProfile hasStories" title="See your profile...">
                    <div class="profileImg image" style="background-image: url('<%= user.avatar %>');"></div>
                </a>
                <ul>
                    <li id="_fullname">
                        <%= user.fullname.firstname %>
                    </li>
                    <li id="activeUser_username" class="text-muted">
                        <b class="text-muted">@<%= user.username %></b>
                    </li>
                </ul>
            </div>
            <div class="profileOthers">
                <ul class="row">
                    <li class="col-md-1 col-sm-0" style="width: unset;"></li>
                    <li class="col-md-5 col-sm-5" style="width: unset;">
                        <a href="javascript: void(0);" onclick="mySnackbar('Youre on free mode!');" data-href="/app/wallet/balance" id="settlesBalance" title="Settle wallet and balance.">
                            <center>
                                <img src="/lib/img/assets/reduced/settle-topup.png" alt="settlesLogo" width="35"
                                    id="settleImg">
                                <div>
                                    <small style="font-weight: 500;" class="text-muted">Settle</small><br>
                                    <span id="balance">Top Up</span>
                                </div>
                            </center>
                        </a>
                    </li>
                    <li class="col-md-5 col-sm-5" style="width: unset;">
                        <a href="javascript: void(0);" onclick="mySnackbar('Youre on free mode!');" data-href="/app/packages/premium" id="getPremium" title="Activate premium.">
                            <center>
                                <img src="/lib/img/assets/reduced/premium-topup.png" alt="premiumLogo" width="37"
                                    id="premium">
                                <div>
                                    <small style="font-weight: 500;" class="text-muted">Premium</small><br>
                                    <span id="is-active">Activate</span>
                                </div>
                            </center>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Main menu -->
        <div class="profileMenu" id="profileMenu">
            <ul>
                <li>
                    <a href="/app/encounters" class="<%= title.toLowerCase() == 'encounters' ? 'activeMenu' : '' %>"
                        id="encounters">
                        <span><i class="typcn typcn-compass"></i> &nbsp; Encounters</span>
                        <span class="badge float-right hide">New</span>
                    </a>
                </li>
                <li>
                    <a href="/app/chats" class="<%= title.toLowerCase() == 'chats' ? 'activeMenu' : '' %>" id="chats">
                        <span><i class="typcn typcn-messages"></i> &nbsp; Chats</span>
                        <span class="badge float-right hide">New</span>
                    </a>
                </li>
                <li>
                    <a href="/app/matched" class="<%= title.toLowerCase() == 'matched' ? 'activeMenu' : '' %>"
                        id="matched">
                        <span><i class="typcn typcn-point-of-interest"></i> &nbsp; Matched</span>
                        <span class="badge float-right hide">New</span>
                    </a>
                </li>
                <li>
                    <a href="/app/likes" class="<%= title.toLowerCase() == 'likes' ? 'activeMenu' : '' %>" id="likes">
                        <span><i class="typcn typcn-heart-half-outline"></i> &nbsp; Likes</span>
                        <span class="badge float-right hide">New</span>
                    </a>
                </li>
                <li>
                    <a href="/app/visitors" class="<%= title.toLowerCase() == 'visitors' ? 'activeMenu' : '' %>"
                        id="visitors">
                        <span><i class="typcn typcn-group"></i> &nbsp; Visitors</span>
                        <span class="badge float-right hide">New</span>
                    </a>
                </li>
                <li>
                    <a href="/app/favourites" class="<%= title.toLowerCase() == 'favourites' ? 'activeMenu' : '' %>"
                        id="favourites">
                        <span><i class="typcn typcn-star-full-outline"></i> &nbsp; Favourites</span>
                        <span class="badge float-right hide">New</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>