<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title + ' :: Tosettledown (TSD)' %></title>
    <!-- Components -->
    <link href="/components/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/components/css/icons.css" rel="stylesheet" />
    <link href="/components/css/style.css" id="styleLink" rel="stylesheet" />
    <link href="/components/css/metismenu.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/lib/img/logo/favicon.png" type="image/x-icon">
    <!-- Library -->

    <link rel="stylesheet" href="/lib/css/main.css">
    <link rel="stylesheet" href="/lib/css/mobile.css">

    <!-- Global Css For App  -->
    <link rel="stylesheet" href="/lib/css/app/_main.css">
    <!--  Include Page CSS Dynamically  -->
    <%-stylesheets%>
</head>

<body>
<section class="windowFrame container row" id="windowFrame">
    <!-- ProfileBar -->
    <%-partial('/app/layout/profileBar.html')%>

    <!-- MainBody -->
    <section class="mainBody col-md-9 col-sm-8" id="mainBody">
        <!--    Calling Page Content    -->
        <%- body %>

        <!-- Footer -->
        <%-partial('/app/layout/footer.html')%>
    </section>
</section>





    <!-- Components  -->

    <script src="/socket.io/socket.io.js"></script>
    <!-- jQuery  -->
    <script src="/components/js/jquery.min.js"></script>
    <script src="/components/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="/components/js/bootstrap.min.js"></script>

    <!-- App js -->
<!--    <script src="/components/js/jquery.core.js"></script>-->
<!--    <script src="/components/js/jquery.app.js"></script>-->

    <script src="/components/js/metisMenu.min.js"></script>
    <script src="/components/js/waves.js"></script>
    <script src="/components/js/jquery.slimscroll.js"></script>
    <script src="/components/js/modernizr.min.js"></script>
    <!-- Sweetalert  -->
    <script src="/components/js/sweetalert.js"></script>

    <!-- Components Ends  -->

    <!-- Library  -->
    <!-- Index Scripts -->

    <!-- App Scripts -->
    <script src="/lib/scripts/main.js"></script>
    <script src="/lib/scripts/app/_main.js"></script>

    <!--  Include Page JS Dynamically  -->
    <%-scripts%>

</body>

</html>