<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%='Tosettledown :: ' + title %></title>
    <!-- Components -->
    <link href="/components/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/components/css/icons.css" rel="stylesheet" />
    <link href="/components/css/style.css" id="styleLink" rel="stylesheet" />
    <link rel="shortcut icon" href="/lib/img/logo/favicon.png">
    <!-- Library -->

    <link rel="stylesheet" href="/lib/css/main.css">
    <link rel="stylesheet" href="/lib/css/mobile.css">

    <!-- Global Css For App  -->
    <link rel="stylesheet" href="/lib/css/app/_main.css">
    <link rel="stylesheet" href="/lib/css/app/snackbar.css">

    <!--  Include Page CSS Dynamically  -->
    <%-stylesheets%>
    <meta name="theme-color" content="#e64942">
</head>

<body>
    <!-- Messaging -->
    <div class="sr-only">
        <%- messages() %>

        <% if(typeof errors != "undefined") { %>
        <% errors.forEach(err => { %>
        <div id="messages">
            <ul class="error">
                <li><%= err.msg %></li>
            </ul>
        </div>
        <% })} %>
    </div>
    <div class="onMobile logoHeader"
        style="box-shadow: 0px -1px 5px #1f1f1f28 !important; border-bottom: 1px solid #eee; padding: 10px; width: 100%; margin-bottom: 10px;">
        <div class="logoMobileCon">
            <span id="profileLinkCon">
                <a href="/app/profile/<%= user.username %>" class="activeProfile hasStories"
                    style="margin-top: 3px; float: right;">
                    <div class="image"
                        style="width: 35px; height: 35px; border-radius: 100%; background-image: url('<%= user.avatar %>');">
                    </div>
                </a>
            </span>

            <span id="mobileLogoId" style="height: 44px;">
                <span style="display: inline-block; font-size: 20px; font-weight: 500; padding: 9px 0px;">
                    <% if(title.toLowerCase() == 'favourites' || title.toLowerCase() == 'visitors') { %>
                    <a href="javascript:void(0);" id="backToPreviousPage" class="backToPreviousPage"
                        style="display: inline-block; font-size: 16px; padding: 0px 15px 0px 5px;"
                        onclick="history.back();">
                        <i class="icon-arrow-left"></i>
                    </a>
                    <span style="display: inline-block;">
                        <%= title %>
                    </span>
                    <% } else { %>
                    <img src="/lib/img/logo/logoLandscape.png" style="width: 160px; margin-top: -8px;" id="logo"
                        alt="Tosettledown">
                    <% } %>
                </span>
            </span>

        </div>
    </div>
    <!-- The actual snackbar -->
    <div id="snackbar">Tosettledown :: Built for Lovers</div>
    <section class="windowFrame container row" id="windowFrame">
        <!-- ProfileBar -->
        <%-partial('/app/layout/profileBar.html')%>

        <!-- MainBody -->
        <section class="mainBody col-md-9 col-sm-8" id="mainBody">
            <!--    Calling Page Content    -->
            <%- body %>
        </section>
    </section>


    <!-- Footer -->
    <%-partial('/app/layout/footer.html')%>

    <div class="onMobile">
        <div class="mobileNavigator">
            <ul class="">
                <li class="col-2">
                    <a href="/app/encounters"
                        class="<%= title.toLowerCase() == 'encounters' ? 'activeMenu' : 'text-menu-dark' %>">
                        <i style="font-size: 18px; padding: 0px 0px 0px 0px;"
                            class="<%= title.toLowerCase() == 'encounters' ? 'dripicons-home' : 'dripicons-home' %>"></i>
                        <small style="font-size: 65% !important;">Encounters</small>
                    </a>
                </li>
                <li class="col-1"></li>
                <li class="col-2">
                    <a href="/app/chats"
                        class="<%= title.toLowerCase() == 'chats' ? 'activeMenu' : 'text-menu-dark' %>">
                        <i style="font-size: 22px; padding: 5px 0px;"
                            class="<%= title.toLowerCase() == 'chats' ? 'fa fa-comments' : 'fa fa-comments-o' %>"></i>
                        <small style="font-size: 65% !important;">Chats</small>
                    </a>
                </li>
                <li class="col-1"></li>
                <li class="col-2">
                    <a href="/app/matched"
                        class="<%= title.toLowerCase() == 'matched' ? 'activeMenu' : 'text-menu-dark' %>">
                        <i style="font-size: 22px; padding: 5px 0px;"
                            class="<%= title.toLowerCase() == 'matched' ? 'fa fa-gg' : 'fa fa-gg' %>"></i>
                        <small style="font-size: 65% !important;">Matched</small>
                    </a>
                </li>
                <li class="col-1"></li>
                <li class="col-2">
                    <a href="/app/likes"
                        class="<%= title.toLowerCase() == 'likes' ? 'activeMenu' : 'text-menu-dark' %>">
                        <i style="font-size: 22px; padding: 5px 0px;"
                            class="<%= title.toLowerCase() == 'likes' ? 'fa fa-heartbeat' : 'fa fa-heartbeat' %>"></i>
                        <small style="font-size: 65% !important;">Likes</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>





    <!-- Components  -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- jQuery  -->
    <script src="/components/js/jquery.min.js"></script>
    <script src="/components/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="/components/js/bootstrap.min.js"></script>

    <script src="/components/js/waves.js"></script>
    <!-- Sweetalert  -->
    <script src="/components/js/sweetalert.js"></script>
    <script src="/components/js/moment.js"></script>
    <!-- Components Ends  -->

    <!-- Library  -->
    <script type="text/javascript" src="/components/jquery-touchswipe/jquery.touchSwipe.min.js"></script>
    <!-- Index Scripts -->

    <!-- App Scripts -->
    <script src="/lib/scripts/main.js"></script>
    <script src="/lib/scripts/app/_main.js"></script>
    <script src="/lib/scripts/app/snackbar.js"></script>
    <script src="/lib/scripts/mobile.js"></script>

    <!--  Include Page JS Dynamically  -->
    <%-scripts%>

</body>

</html>