<link rel="stylesheet" href="/lib/css/index.css">
<div class="body">
    <!-- Welcome Page -->
    <section class="Frame row">
        <!-- Messaging -->
        <div class="sr-only">
            <%- messages() %>
        </div>
        <!-- Info container -->
        <div class="col-md-8 col-sm-12 infoCon" id="infoCon">
            <!-- Header -->
            <header class="header" id="header">
                <nav>
                    <center>
                        <a href="/" style="display: block;" class="logoCon" style="box-sizing: content-box;">
                            <img src="/lib/img/logo/logoLandscape.png" id="logo" width="200" alt="logo">
                        </a>
                    </center>
                    <br><br>
                    <div class="btnCon">
                        <a href="#loginForm" role="button" class="btn" id="loginBtn">Sign in</a>
                    </div>
                </nav>
            </header>
            <br>
            <div class="jb" id="jb">
                <h1>Built for Lovers</h1>
                <br>
                <p>
                    Tosettledown is a <b>Matchmaking</b> and <b>Dating</b> platform inspired by the way you singles
                    communicate.
                    From been single to getting married, you can promote and sell marriage related items and
                    contents, ie. Wedding Rings, Wedding Gowns, Suit Blazzers etc, alongside other interested
                    singles.
                </p>
                <br>
            </div>
        </div>
        <!-- Forms container -->
        <div class="col-md-4 col-sm-12 detailsCon" id="detailsCon">
            <!-- SIGN UP -->
            <form action="/auth/0/signup" method="POST" name="regForm" id="regForm" class="regBody">
                <!-- Header -->
                <header class="regHead" style="margin-bottom: 50px;">
                    <h2 style="font-weight: lighter;">SIGN UP</h2>
                    <div style="width: 30px; height: 2px; background-color: #ff6878;"></div>
                </header>
                <div class="details">
                    <!-- Full Name -->
                    <div class="form-group mb-3">
                        <input type="text" name="fullname" id="fullname" class="form-control"
                            placeholder="Enter full name" required>
                    </div>
                    <div class="form-row align-items-center">
                        <!-- Username -->
                        <div class="col-md-6 col-sm-6 col-auto mb-3">
                            <input type="text" name="username" id="reg_username" class="form-control"
                                placeholder="Pick a username" required>
                        </div>
                        <!-- Email -->
                        <div class="col-md-6 col-sm-6 col-auto mb-3">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter email"
                                required>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group mb-4">
                        <input type="password" name="password" id="reg_password" class="form-control"
                            aria-describedby="passwordHelp" placeholder="Create a password" minlength="8" maxlength="30"
                            required>
                        <small id="passwordHelp" class="form-text text-muted">Password must be up to 8 - 30
                            characters.</small>
                    </div>
                    <!-- Gender & DOB -->
                    <div class="form-row align-items-center">
                        <!-- DOB -->
                        <div class="col-md-7 col-sm-6 col-auto mb-3">
                            <input type="date" name="dob" id="dob" class="form-control" required>
                        </div>
                        <!-- Gender -->
                        <div class="col-md-5 col-sm-6 col-auto mb-3">
                            <select name="gender" id="gender" class="form-control" required>
                                <option value="" label="Gender">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>
                    <!-- Location -->
                    <div class="form-group mb-4">
                        <input type="text" name="location" id="location" class="form-control"
                            placeholder="Enter location" aria-describedby="locationHelp" value=""
                            required>
                        <small id="locationHelp" class="form-text text-muted">ie. Lagos, Nigeria.</small>
                    </div>
                </div>
                <!-- Sign Btn -->
                <div class="regFoot">
                    <div class="form-group">
                        <input type="submit" id="submitForm" class="form-control btn btn-success"
                            style="padding: 20px !important; margin-bottom: 5px;" aria-describedby="submitFormHelp"
                            value="Sign up with Tosettledown">
                        <small id="submitFormHelp" class="form-text text-muted">By clicking
                            <i>"Sign up with Tosettledown"</i>,
                            you agree to our <a href="#">terms of services</a>, <a href="#">privacy policy</a> and <a
                                href="#">cookie policy</a>.
                        </small>
                    </div>
                </div>
            </form>
            <!-- END OF SIGN UP -->

            <!-- SIGN IN -->
            <form action="/auth/0/signin" method="POST" name="loginForm" id="loginForm" class="loginBody">
                <!-- Header -->
                <header class="loginHead" style="margin-bottom: 50px;">
                    <h2 style="font-weight: lighter;">SIGN IN</h2>
                    <div style="width: 30px; height: 2px; background-color: #ff6878;"></div>
                </header>
                <div class="details" style="padding: 80px 0px; padding-top: 10px;">
                    <div class="otherSignupMethod" id="otherSignupMethod" style="margin-bottom: 50px;">
                        <center>
                            <i id="infoText" class="text-muted" style="display: block;">Sign in via </i>
                            <br>
                            <a href="/auth/0/signin/google" role="button" id="google"
                                style="background-color: transparent; border: 1px solid #eee !important; margin: 0px 5px;"
                                class="btn" title="Sign in via Google">
                                <i class="fa fa-google" style="color: #ff6878; font-size: 18px;"></i>
                            </a>
                            <a href="/auth/0/signin/facebook/" role="button" id="facebook"
                                style="background-color: transparent; border: 1px solid #eee !important; margin: 0px 5px;"
                                class="btn" title="Sign in via Facebook">
                                <i class="fa fa-facebook" style="color: #1475ad; font-size: 18px;"></i>
                            </a>
                            <a href="/auth/0/signin/instagram/" role="button" id="instagram"
                                style="background-color: transparent; border: 1px solid #eee !important; margin: 0px 5px;"
                                class="btn" title="Sign in via Instagram">
                                <i class="fa fa-instagram" style="color: #ff68ae; font-size: 18px;"></i>
                            </a>
                        </center>
                    </div>
                    <!-- Username -->
                    <div class="form-group mb-3">
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                            required>
                    </div>
                    <!-- Password -->
                    <div class="form-group mb-5">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                            required>
                    </div>
                    <!-- Sign Btn -->
                    <div class="loginFoot">
                        <div class="form-group">
                            <input type="submit" class="form-control btn btn-success" style="padding: 15px !important;"
                                value="Sign in">
                        </div>
                    </div>
                </div>
                <br><br>
            </form>
            <!-- END OF SIGN IN -->

            <footer class="footer text-muted float-right" style="padding: 10px; padding-right: 40px;">
                <!-- Footer -->
                <%- include('app/partials/footer.html'); %>
            </footer>
        </div>
    </section>
</div>