
                            <ul class="profileHeadWrapperBtn" style="display: block; margin: 0px 50px;">
                                <!-- Like and Dislike -->
                                <% if (user.username != profile_user.username) { %>
                                <li style="display: inline-block;">
                                    <a href="javascript: void(0);" id="like" title="Like"
                                        style="border: 1px solid #ececec; color: #ff6878 !important;">
                                        <i class="typcn typcn-heart-full-outline"></i>
                                    </a>
                                </li>
                                <li style="display: inline-block;">
                                    <a href="javascript: void(0);" id="skip" title="Skip"
                                        style="border: 1px solid #ececec; color: #303030 !important;">
                                        <i class="typcn typcn-times"></i>
                                    </a>
                                </li>
                                <% } %>
                            </ul>