<% layout('/app/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/app/chat.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/app/chat.js') -%>

<div class="row page-identifier" data-page-name="chat">
    <div class="displayWindow col-md-12 row Chat"
        style="box-shadow: none; border-radius: 0px; padding: 20px 30px; border-left: 1px solid #eee; overflow: visible;">
        <section class="col-md-4 ChatList">
            <div class="ChatHead">
                <h3 class="text-muted text-center"><%= title %></h3>
                <select name="searchUsers" id="searchUsers" class="form-control mb-2"
                    style="border: 1px solid #eee !important; cursor: pointer;">
                    <option value="all">All</option>
                    <option value="online">Online</option>
                </select>
            </div>
            <div class="ChatBody">
                <ul id="chat-list-holder" class="chat-list">
                    <li class="user lazy-box-group">
                        <div class="image-holder">
                            <div class="status is-online lazy-box-loader"></div>
                            <div class="profile-img lazy-box-loader"></div>
                        </div>
                        <div class="message-holder">
                            <div class="time text-muted lazy-box-loader"></div>
                            <div class="username text-dark lazy-box-loader"></div>
                            <div class="latest-message text-muted lazy-box-loader"></div>
                        </div>
                    </li>
                    <li class="user lazy-box-group">
                        <div class="image-holder">
                            <div class="status is-online lazy-box-loader"></div>
                            <div class="profile-img lazy-box-loader"></div>
                        </div>
                        <div class="message-holder">
                            <div class="time text-muted lazy-box-loader"></div>
                            <div class="username text-dark lazy-box-loader"></div>
                            <div class="latest-message text-muted lazy-box-loader"></div>
                        </div>
                    </li>
                    <li class="user lazy-box-group">
                        <div class="image-holder">
                            <div class="status is-online lazy-box-loader"></div>
                            <div class="profile-img lazy-box-loader"></div>
                        </div>
                        <div class="message-holder">
                            <div class="time text-muted lazy-box-loader"></div>
                            <div class="username text-dark lazy-box-loader"></div>
                            <div class="latest-message text-muted lazy-box-loader"></div>
                        </div>
                    </li>
                    <li class="user lazy-box-group">
                        <div class="image-holder">
                            <div class="status is-online lazy-box-loader"></div>
                            <div class="profile-img lazy-box-loader"></div>
                        </div>
                        <div class="message-holder">
                            <div class="time text-muted lazy-box-loader"></div>
                            <div class="username text-dark lazy-box-loader"></div>
                            <div class="latest-message text-muted lazy-box-loader"></div>
                        </div>
                    </li>
                    <li class="user lazy-box-group">
                        <div class="image-holder">
                            <div class="status is-online lazy-box-loader"></div>
                            <div class="profile-img lazy-box-loader"></div>
                        </div>
                        <div class="message-holder">
                            <div class="time text-muted lazy-box-loader"></div>
                            <div class="username text-dark lazy-box-loader"></div>
                            <div class="latest-message text-muted lazy-box-loader"></div>
                        </div>
                    </li>
                    <li class="user lazy-box-group">
                        <div class="image-holder">
                            <div class="status is-online lazy-box-loader"></div>
                            <div class="profile-img lazy-box-loader"></div>
                        </div>
                        <div class="message-holder">
                            <div class="time text-muted lazy-box-loader"></div>
                            <div class="username text-dark lazy-box-loader"></div>
                            <div class="latest-message text-muted lazy-box-loader"></div>
                        </div>
                    </li>
                    <li class="user lazy-box-group">
                        <div class="image-holder">
                            <div class="status is-online lazy-box-loader"></div>
                            <div class="profile-img lazy-box-loader"></div>
                        </div>
                        <div class="message-holder">
                            <div class="time text-muted lazy-box-loader"></div>
                            <div class="username text-dark lazy-box-loader"></div>
                            <div class="latest-message text-muted lazy-box-loader"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


        <section class="col-md-8 ChatWindow">
            <div class="chat-window-holder" style="display: none">
                <div class="ChatWindowHead">
                    <div class="float-left">
                        <div class="onMobile float-left">
                            <a href="javascript:void();" class="back" style="font-size: 30px; padding: 0px 5px;">
                                <i class="typcn typcn-chevron-left-outline"></i>
                            </a>
                        </div>
                        <div id="chat-status" class="activity_status "></div>
                        <div id="chat-profile-img" class="">
                        </div>
                        <div id="chat-username" class="text-dark">
                            <h6 id="chat-username-holder" class=""></h6>
                            <small id="chat-typing" class="orange-color "></small>
                        </div>
                    </div>

                    <div class="float-right">
                        <span class="moreOptions">
                            <div class="dropdown">
                                <a href="#" id="dropBtn"
                                    class="btn waves-effect waves-light waves-effect waves-light dropBtn" role="button"
                                    style="color: #1a1a1a; padding: 15px 5px 10px 5px !important; margin: 0px 10px;">
                                    <i class="icon-options-vertical" style="font-size: 20px;"></i>
                                </a>

                                <div class="dropdownContent" id="dropdownContent">
                                    <a href="#">Add to favourites</a>
                                    <a href="#" class="hide">Give a gift</a>
                                    <a href="#" class="hide">Delete conversation</a>
                                    <a href="#" class="color">Block or Report</a>
                                    <div class="separator"></div>
                                    <a id="profile-link" href="javascript:void(0);" class="dropdownBottom"
                                        style="color: #000;">
                                        View profile
                                        <span class="typcn typcn-user float-right"></span>
                                    </a>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="ChatWindowBody">
                    <ul class="chat-message-list">
                        <!-- chat will be rendered inside here -->
                    </ul>
                </div>

                <div class="ChatWindowFooter" style="padding: 10px 10px;">
                    <div class="form-group message-sender-holder">
                        <textarea rows="1" id="message-input" class="encounter-page-send-message form-control"
                            placeholder="Type a message" required></textarea>
                        <button id="submit-msg" class="btn waves-effect waves-light bg-Primary_color"><i
                                class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>

            <div class="go-back-encounter text-muted" style="position: relative; top: 250px; text-align: center;">
                <div>
                    <h1 class="typcn typcn-messages" style="font-size: 50px;"></h1>
                </div>
                <div>
                    <p>Start a conversation immediately...</p>
                </div>
                <a href="/app/encounters" role="button" class="btn waves-effect waves-light bg-Primary_color">See
                    encounters</a>
            </div>

        </section>
    </div>
</div>