<% layout('/app/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/app/favourite_visitor.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/app/favourite_visitor.js') -%>

<div class="row page-identifier" data-page-name="favourites">
    <div class="displayWindow col-md-12"
        style="height: 620px; border-radius: 0px; overflow: hidden; overflow-y: scroll; padding: 20px 30px; border-left: 1px solid #eee;">
        <div style="margin-bottom: 50px;" class="notMobile">
            <h3 class="text-dark"><%= title %></h3>
            <p class="text-muted">See all your favourites.</p>
            <div class="borderBottom"></div>
        </div>
        <div class="favourites container">
            <center>
                <ul>
                    <div class="row">
                        <% if(favourites.length > 0) { %>
                        <% favourites.forEach(favourite => { %>
                        <li class="col-md-4 col-sm-6" style="padding: 10px;">
                            <div class="card"
                                onclick="location.href = '/app/profile/<%=favourite.favouriteObj.username%>';">
                                <div id="card-handle"></div>
                                <div class="img" style="background-image: url('<%= favourite.favouriteObj.avatar %>');">
                                </div>
                                <div class="text-center">
                                    <a href="/app/profile/<%=favourite.favouriteObj.username%>">
                                        <h5 id="title">
                                            <%=favourite.favouriteObj.name.split(" ")[0]%>,
                                            <%= favourite.favouriteObj.dob.age %>
                                        </h5>
                                    </a>
                                    <small class="text-muted" id="timeStamp">
                                        <i class="typcn typcn-world"></i>
                                        <%=Moment(favourite.favourite_at).format("MMM Do YY") %>
                                    </small>
                                </div>
                            </div>
                        </li>
                        <%})%>
                        <%} else {%>
                        <li class="no-available">
                            <div class="content-holder">
                                <br>
                                <img src="/lib/img/logo/logo-icon.png" alt="Logo">
                                <h5 class="text-muted">No favourites yet...</h5>
                                <br>
                            </div>
                        </li>
                        <%} %>
                    </div>
                </ul>
            </center>
        </div>
    </div>
</div>