<% layout('/app/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/app/favourite_visitor.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/app/favourite_visitor.js') -%>

<div class="row page-identifier" data-page-name="favourite">
    <div class="displayWindow col-md-12"
        style="height: 620px; overflow: hidden; overflow-y: scroll; box-shadow: none; border-radius: 0px; padding: 20px 30px; border-left: 1px solid #eee;">
        <div style="margin-bottom: 50px;">
            <h3 class="text-dark"><%= title %></h3>
            <p class="text-muted notMobile">See all that made you their favourite, and begin a conversation.</p>
            <div class="borderBottom"></div>
        </div>
        <div class="favourites container">
            <div style="text-align: center;">
                <div class="row">
                    <ul class="favourites-holder">
                        <% if(favourites.length > 0) { %>
                        <% favourites.forEach(favourite => { %>
                        <li class="col-md-3 col-sm-6">
                            <center>
                                <div class="card"
                                    onclick="location.href = '/app/profile/<%=favourite.favouriteObj.username%>';">
                                    <div id="card-handle"></div>
                                    <div class="img"
                                        style="background-image: url('<%= favourite.favouriteObj.avatar %>');">
                                    </div>
                                    <div class="text-left">
                                        <a href="/app/profile/<%=favourite.favouriteObj.username%>">
                                            <h5 id="title" style="color: inherit !important;">
                                                <%=favourite.favouriteObj.name.split(" ")[0]%>,
                                                <%= favourite.favouriteObj.dob.age %>
                                            </h5>
                                        </a>
                                        <small class="text-muted" id="timeStamp">
                                            <i class="typcn typcn-world"></i>
                                            <%=Moment(favourite.favourite_at).format("MMM Do YY") %>
                                        </small>
                                    </div>
                                </div>
                            </center>
                        </li>
                        <%})%>
                        <%} else {%>
                        <li class="no-available">
                            <div class="content-holder">
                                <br>
                                <img src="/lib/img/logo/logo-icon.png" alt="Logo">
                                <h5 class="text-muted">No favourites yet...</h5>
                                <br>
                            </div>
                        </li>
                        <%} %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>