<% layout('/app/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/app/match_like.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/app/match_like.js') -%>


<div class="row page-identifier" data-page-name="like">
    <div class="displayWindow col-md-12"
        style="height: 620px; overflow: hidden; overflow-y: scroll; box-shadow: none; border-radius: 0px; padding: 20px 30px; border-left: 1px solid #eee;">
        <div style="margin-bottom: 50px;">
            <h3 class="text-dark"><%= title %></h3>
            <p class="text-muted notMobile">See all those that liked you or likes you.</p>
            <div class="borderBottom"></div>
        </div>
        <div class="likes container">
            <div style="text-align: center;">
                <ul class="likes-holder">
                    <% if(likes.length > 0) { %>
                    <% likes.forEach(like => { %>
                    <li class="col-md-4 col-sm-6" style="padding: 10px;">
                        <div class="card">
                            <div id="card-handle"></div>
                            <div class="img" style="background-image: url('<%= like.likerObj.avatar %>');">
                            </div>
                            <div class="text-left">
                                <a href="/app/profile/<%=like.likerObj.username%>">
                                    <h5 id="title"> 
                                        <%=like.likerObj.name.split(" ")[0]%>, 
                                        <%= like.likerObj.dob.age %>
                                    </h5>
                                </a>
                                <small class="text-muted" id="timeStamp">
                                    <i class="typcn typcn-world"></i>
                                    <%=Moment(like.liked_at).format("MMM Do YY") %>
                                </small>
                            </div>
                        </div>
                    </li>
                    <%})%>
                    <%} else {%>
                    <li class="no-available">
                        <div class="content-holder">
                            <br>
                            <img src="/lib/img/logo/logo-icon.png" style="width: 100px;" alt="Logo">
                            <h5 class="text-muted">No likes yet...</h5>
                            <br>
                        </div>
                    </li>
                    <%} %>
                </ul>
            </div>
        </div>
    </div>
</div>