<% layout('/app/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/app/match_like.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/app/match_like.js') -%>


<div class="row page-identifier" data-page-name="like">
            <div class="displayWindow col-md-12" style="height: 620px; overflow: hidden; overflow-y: scroll; box-shadow: none; border-radius: 0px; padding: 20px 30px; border-left: 1px solid #eee;">
                <center>
                    <div style="margin-bottom: 50px;">
                        <h3 class="text-muted"><%= title %></h3>
                        <p class="text-muted">See all those that liked you or likes you.</p>
                        <div class="borderBottom"></div>
                    </div>
                </center>
                <div class="likes container">
                    <center>
                        <ul>
                            <div class="row">
                                <li class="col-md-4 col-sm-6" style="padding: 10px;">
                                    <div class="card">
                                        <div id="card-handle"></div>
                                        <div class="img" style="background-image: url('/lib/img/assets/reduced/user.png'); border-radius: 100%;"></div>
                                        <div class="text-center">
                                            <a href="/app/profile/username">
                                                <h5 id="title">Grace, 21</h5>
                                            </a>
                                            <small class="text-muted" id="timeStamp">
                                                <i class="typcn typcn-world"></i>
                                                Today, 4:17am
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6" style="padding: 10px;">
                                    <div class="card">
                                        <div id="card-handle"></div>
                                        <div class="img" style="background-image: url('/lib/img/assets/reduced/user.png'); border-radius: 100%;"></div>
                                        <div class="text-center">
                                            <a href="/app/profile/username">
                                                <h5 id="title">Grace, 21</h5>
                                            </a>
                                            <small class="text-muted" id="timeStamp">
                                                <i class="typcn typcn-world"></i>
                                                Today, 4:17am
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6" style="padding: 10px;">
                                    <div class="card">
                                        <div id="card-handle"></div>
                                        <div class="img" style="background-image: url('/lib/img/assets/reduced/user.png'); border-radius: 100%;"></div>
                                        <div class="text-center">
                                            <a href="/app/profile/username">
                                                <h5 id="title">Grace, 21</h5>
                                            </a>
                                            <small class="text-muted" id="timeStamp">
                                                <i class="typcn typcn-world"></i>
                                                Today, 4:17am
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6" style="padding: 10px;">
                                    <div class="card">
                                        <div id="card-handle"></div>
                                        <div class="img" style="background-image: url('/lib/img/assets/reduced/user.png'); border-radius: 100%;"></div>
                                        <div class="text-center">
                                            <a href="/app/profile/username">
                                                <h5 id="title">Grace, 21</h5>
                                            </a>
                                            <small class="text-muted" id="timeStamp">
                                                <i class="typcn typcn-world"></i>
                                                Today, 4:17am
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6" style="padding: 10px;">
                                    <div class="card">
                                        <div id="card-handle"></div>
                                        <div class="img" style="background-image: url('/lib/img/assets/reduced/user.png'); border-radius: 100%;"></div>
                                        <div class="text-center">
                                            <a href="/app/profile/username">
                                                <h5 id="title">Grace, 21</h5>
                                            </a>
                                            <small class="text-muted" id="timeStamp">
                                                <i class="typcn typcn-world"></i>
                                                Today, 4:17am
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-4 col-sm-6" style="padding: 10px;">
                                    <div class="card">
                                        <div id="card-handle"></div>
                                        <div class="img" style="background-image: url('/lib/img/assets/reduced/user.png'); border-radius: 100%;"></div>
                                        <div class="text-center">
                                            <a href="/app/profile/username">
                                                <h5 id="title">Grace, 21</h5>
                                            </a>
                                            <small class="text-muted" id="timeStamp">
                                                <i class="typcn typcn-world"></i>
                                                Today, 4:17am
                                            </small>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </center>
                </div>
            </div>
        </div>
