<% layout('/app/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/app/match_like.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/app/match_like.js') -%>


<div class="row page-identifier" data-page-name="match">
    <div class="displayWindow col-md-12"
        style="height: 620px; overflow: hidden; overflow-y: scroll; border-radius: 0px; padding: 20px 30px; border-left: 1px solid #eee;">
        <div style="margin-bottom: 50px;">
            <h3 class="text-dark">
                <%= title %>
            </h3>
            <p class="text-muted notMobile">
                All <b>Visitors</b>, that match your likes preferences.
            </p>
            <div class="borderBottom"></div>
        </div>
        <div class="matched container">
            <center>
                <ul>
                    <div class="row">
                        <% if(matches.length > 0) { %>
                        <% matches.forEach(match => { %>
                        <li class="col-md-4 col-sm-6" style="padding: 10px;">
                            <div class="card" onclick="location.href = '/app/profile/<%=match.matchObj.username%>';">
                                <div id="card-handle"></div>
                                <div class="img" style="background-image: url('<%= match.matchObj.avatar %>');">
                                </div>
                                <div class="text-center">
                                    <a href="/app/profile/<%=match.matchObj.username%>">
                                        <h5 id="title">
                                            <%=match.matchObj.name.split(" ")[0]%>,
                                            <%= match.matchObj.dob.age %>
                                        </h5>
                                    </a>
                                    <small class="text-muted" id="timeStamp">
                                        <i class="typcn typcn-world"></i>
                                        <%=Moment(match.liked_at).format("MMM Do YY") %>
                                    </small>
                                </div>
                            </div>
                        </li>
                        <%})%>
                        <%} else {%>
                        <li class="no-available">
                            <div class="content-holder">
                                <br>
                                <img src="/lib/img/logo/logo-icon.png" alt="Logo">
                                <h5 class="text-muted">No matches yet...</h5>
                                <br>
                            </div>
                        </li>
                        <%} %>
                    </div>
                </ul>
            </center>
        </div>
    </div>
</div>