<section class="windowFrame container row" id="windowFrame">
    <!-- ProfileBar -->
    <%- include('../partials/profileBar.html'); %>
    <!-- MainBody -->
    <section class="mainBody col-md-9 col-md-8" id="mainBody">
        <div class="row">
            <div class="displayWindow col-md-12" style="box-shadow: none; border-radius: 0px; padding: 20px 30px;">
                <center>
                    <div style="margin-bottom: 50px;">
                        <h3 class="text-muted">
                            <%= title %>
                        </h3>
                        <p class="text-muted">
                            All <b>Visitors</b>, that match your likes preferences.
                        </p>
                        <div class="borderBottom"></div>
                    </div>
                </center>
                <div class="matched container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6" style="padding: 10px;">
                            <div class="card">
                                <div id="card-handle"></div>
                                <div class="img" style="background-image: url('/lib/img/52.jpg');"></div>
                                <a href="/app/profile/123">
                                    <h5 id="title">Grace Philips, 21</h5>
                                </a>
                                <small class="text-muted" id="timeStamp">
                                    <i class="typcn typcn-world"></i>
                                    Today, 4:17am
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('../partials/footer.html'); %>
    </section>
</section>