<section class="windowFrame container row" id="windowFrame">
    <!-- ProfileBar -->
    <%- include('../partials/profileBar.html'); %>
    <!-- MainBody -->
    <section class="mainBody col-md-9 col-md-8" id="mainBody">
        <div class="row">
            <div class="displayWindow col-md-12"
                style="height: 620px; overflow: hidden; overflow-y: scroll; box-shadow: none; border-radius: 0px; padding: 10px 15px; border-left: 1px solid #eee;">
                <div class="profileMain">
                    <!-- Space for modals -->
                    <div class="modalCon">
                        <div class="modal fade editProfileCon" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-lg" style="max-width: 900px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <center>
                                            <h4 class="modal-title" id="myLargeModalLabel">Edit <span class="bg-color"
                                                    style="border-radius: 5px; padding: 5px;">Profile</span></h4>
                                        </center>
                                        <button type="button" class="btn waves-effect waves-light" data-dismiss="modal"
                                            aria-hidden="true">
                                            <i class="typcn typcn-times"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="editProfile">
                                            <form action="/app/profile/update/<%= profile_user.username %>"
                                                method="POST" name="editProfileForm" class="row">
                                                <!-- ProfileImage -->
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <!-- <center> -->
                                                            <input type="file" name="profileUploadBtn"
                                                                id="profileUploadBtn" class="hide" accept="image/*">
                                                            <a href=javascript:void(0); class="activeProfile noStories" style="cursor: default;">
                                                                <div class="image profileImage"
                                                                    style="width: 200px; height: 200px; background-image: url('/lib/img/assets/reduced/<%= profile_user.gender %>.png'); ">
                                                                </div>
                                                            </a>
                                                            <span style="display: block;
                                                                    width: 50px;
                                                                    height: 50px;
                                                                    border-radius: 100%;
                                                                    background-color: #32c861;
                                                                    position: relative;
                                                                    top: -20%;
                                                                    left: 70%;
                                                                    text-align: center;
                                                                    line-height: 46px;
                                                                    font-size: 25px;
                                                                    color: #fff;
                                                                    cursor: pointer;
                                                                    box-shadow: 0.5px 1px 3px #1a1a1a8a;"
                                                                onclick="$('#profileUploadBtn').trigger('click');">
                                                                <i class="typcn typcn-plus "></i>
                                                            </span>
                                                            <!-- </center> -->
                                                        </div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-8">
                                                            <h5 style="font-weight: lighter;">
                                                                Fullname</h5>
                                                            <input type="text" name="fullname" class="form-control"
                                                                placeholder="Enter Your Fullname" value="<%= profile_user.fullname.all %>">
                                                            <h5 style="font-weight: lighter;">
                                                                Bio</h5>
                                                            <textarea type="text" name="bio" class="form-control"
                                                                placeholder="Enter Bio here..."><%= profile_user.personalInfo.bio || '' %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Other form inputs -->
                                                <div class="editProfileLeft col-md-8">
                                                    <div class="form-group">
                                                        <h5 style="font-weight: lighter;">
                                                            Location</h5>
                                                        <input type="text" name="location" class="form-control"
                                                            placeholder="Location Here..." value="<%= profile_user.personalInfo.location || '' %>">
                                                    </div>
                                                    <div class=" form-group">
                                                        <h5 style="font-weight: lighter;">
                                                            Work & Occupation
                                                        </h5>
                                                        <input type="text" name="work" class="form-control"
                                                            placeholder="Work Here..." value="<%= profile_user.personalInfo.work || '' %>">
                                                    </div>
                                                    <div class=" form-group">
                                                        <h5 style="font-weight: lighter;">
                                                            Education</h5>
                                                        <input type="text" name="education" class="form-control"
                                                            placeholder="Education Here..." value="<%= profile_user.personalInfo.education || '' %>">
                                                    </div>
                                                </div>
                                                <div class=" editProfileRight col-md-4">
                                                        <h5 style="font-weight: lighter;">Personal Info(s)</h5>
                                                        <div class="editPersonalInfo form-group">
                                                            <div class="form-group">
                                                                <input type="text" name="height" class="form-control"
                                                                    placeholder="Your height" value="<%= profile_user.personalInfo.height || ''%>">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" name="language" class="form-control"
                                                                    placeholder="What do you speak?" value="<%= profile_user.personalInfo.language || '' %>">
                                                            </div>
                                                            <div class="form-group">
                                                                <select name="religion" id="religion"
                                                                    class="form-control">
                                                                    <option label="Your religion"></option>
                                                                    <option value="christianity">Christianity</option>
                                                                    <option value="islam">Islam</option>
                                                                    <option value="others">Others</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer"
                                                        style="width: 100%; padding: 0px; padding-top: 20px; border: none;">
                                                        <p class="float-left" style="width: 90%;">
                                                            <b class="typcn typcn-warning text-warning"
                                                                style="font-size: 20px;"></b>
                                                            Username can't be modified or changed</p>
                                                        <div class="form-group">
                                                            <button type="submit"
                                                                class="btn waves-effect waves-light bg-color float-right">
                                                                Save and Update
                                                            </button>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    </div>
                    <section class="profileHeader">
                        <header>
                            <ul>
                                <li>
                                    <% if (user.username != profile_user.username) { %>
                                    <a href="/app/chats/<%= profile_user.username %>"
                                        class="btn waves-effect waves-light bg-color" id="chatBtn" role="button"
                                        style="color: #1a1a1a; padding: 10px 25px !important; margin-right: 10px; text-align: center;">
                                        Chat <b class=""><%= profile_user.fullname.firstname %></b> up</a>
                                    <% } %>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <a href="#" class="btn waves-effect waves-light dropBtn" id="dropBtn"
                                            role="button"
                                            style="padding: 13px 5px 10px 5px !important; color: #1a1a1a;">
                                            <i class="icon-options-vertical" style="font-size: 20px;"></i>
                                        </a>
                                        <div class="dropdownContent" id="dropdownContent">
                                            <% if (user.username != profile_user.username) { %>
                                            <a href="#">Add to favourites</a>
                                            <% } %>
                                            <a href="#">Share</a>
                                            <% if (user.username == profile_user.username) { %>
                                            <a href="#" id="editProfileBtn" data-toggle="modal"
                                                data-target=".editProfileCon">Edit profile</a>
                                            <% } %>
                                            <a href="#" class="color">Block or Report</a>
                                            <% if (user.username == profile_user.username) { %>
                                            <div class="separator"></div>
                                            <a href="/auth/0/signin/out" class="dropdownBottom" style="color: #000;">
                                                Sign out
                                                <span class="typcn typcn-cog float-right"></span>
                                            </a>
                                            <% } %>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </header>
                        <br>
                        <footer>
                            <div class="profileFooterHead">
                                <div style="float: left; margin: 0px 5px;">
                                    <a href=javascript:void(0); class="activeProfile hasStories">
                                        <div class="image profileImage"
                                            style="background-image: url('/lib/img/assets/reduced/<%= profile_user.gender %>.png');">
                                        </div>
                                    </a>
                                    <ul style="display: block; margin: 0px 45px;">
                                        <li style="display: inline-block;">
                                            <a href="javascript: void(0);" id="like" title="Like"
                                                style="border: 1px solid #ececec; color: #ff6878 !important;">
                                                <i class="typcn typcn-heart-full-outline"></i>
                                            </a>
                                        </li>
                                        <li style="display: inline-block;">
                                            <a href="javascript: void(0);" id="skip" title="Skip"
                                                style="border: 1px solid #ececec; color: #303030 !important;">
                                                <i class="typcn typcn-times"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="left">
                                    <div class="fullname">
                                        <h1 style="font-weight: lighter;">
                                            <span><%= profile_user.fullname.all %>,
                                                <%= profile_user.dob.age %></span>
                                        </h1>
                                    </div>
                                    <div class="username text-muted">
                                        <h6 style="font-size: 13px;"><b>@<%= profile_user.username %></b></h6>
                                    </div>
                                    <div class="bio float-left">
                                        <p>
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                                            consequuntur mollitia necessitatibus velit obcaecati, sequi doloribus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <br><br><br>
                            <a href=javascript:void(0); id="dropdownToggleBtn"
                                class="float-right dropdownToggleBtn text-dark btn waves-effect waves-light"
                                role="button" style="border: none !important; font-size: 30px;">
                                <i class="pe-7s-angle-down-circle"></i>
                            </a>
                        </footer>
                    </section>
                    <section class="profileFooter">
                        <div class="moreDetails">
                            <div class="viewProfile">
                                <section class="row">
                                    <div class="viewProfileLeft col-md-8">
                                        <div class="form-group">
                                            <h5 class="text-muted" style="font-weight: lighter;">Location</h5>
                                            <p>Lagos, Nigeria</p>
                                        </div>
                                        <div class="form-group">
                                            <h5 class="text-muted" style="font-weight: lighter;">Work & Occupation
                                            </h5>
                                            <p>Software Developer</p>
                                        </div>
                                        <div class="form-group">
                                            <h5 class="text-muted" style="font-weight: lighter;">Education</h5>
                                            <p>University of Middlesex, Malta</p>
                                        </div>
                                    </div>
                                    <div class="viewProfileRight col-md-4">
                                        <h5 class="text-muted" style="font-weight: lighter;">Personal Info(s)</h5>
                                        <div class="editPersonalInfo form-group">
                                            <div class="form-group">
                                                <p><small class="text-muted">Height: </small>5' 11in</p>
                                            </div>
                                            <div class="form-group">
                                                <p><small class="text-muted">Language: </small>English</p>
                                            </div>
                                            <div class="form-group">
                                                <p><small class="text-muted">Religion: </small>Christainity</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                </form>
                            </div>
                        </div>
                        <header>
                            <ul>
                                <!-- imageUploadBtn -->
                                <% if (user.username == profile_user.username) { %>
                                <input type="file" name="imageUploadBtn" id="imageUploadBtn" accept="image/*"
                                    class="hide">
                                <% } %>
                                <center>
                                    <div class="row">
                                        <li class="col-md-5 col-sm-5">
                                            <a href=javascript:void(0); class="text-dark photos ">
                                                <span class="active"><i class="typcn typcn-image"></i>
                                                    &nbsp;PHOTOS</span>
                                            </a>
                                        </li>
                                        <li class="col-md-2 col-sm-2">
                                            <% if (user.username == profile_user.username) { %>
                                            <a href=javascript:void(0);
                                                class="text-dark btn waves-effect waves-light addImages" role="button"
                                                onclick="$('#imageUploadBtn').trigger('click');">
                                                <i class="typcn typcn-plus-outline"></i>
                                            </a>
                                            <% } %>
                                        </li>
                                        <li class="col-md-5 col-sm-5">
                                            <a href=javascript:void(0); class="text-dark shop">
                                                <span><i class="typcn typcn-shopping-bag"></i> &nbsp;SHOP</span>
                                            </a>
                                        </li>
                                    </div>
                                </center>
                            </ul>
                        </header>
                        <footer>
                            <center>
                                <ul class="row">
                                    <li class="col-4 col-md-4 col-sm-4">
                                        <a href="javascript:void(0);">
                                            <img src="/lib/img/assets/reduced/user.png" id="image" alt="image">
                                        </a>
                                    </li>
                                    <li class="col-4 col-md-4 col-sm-4">
                                        <a href="javascript:void(0);">
                                            <img src="/lib/img/assets/reduced/user.png" id="image" alt="image">
                                        </a>
                                    </li>
                                    <li class="col-4 col-md-4 col-sm-4">
                                        <a href="javascript:void(0);">
                                            <img src="/lib/img/assets/reduced/user.png" id="image" alt="image">
                                        </a>
                                    </li>
                                    <li class="col-4 col-md-4 col-sm-4">
                                        <a href="javascript:void(0);">
                                            <img src="/lib/img/assets/reduced/user.png" id="image" alt="image">
                                        </a>
                                    </li>
                                    <li class="col-4 col-md-4 col-sm-4">
                                        <a href="javascript:void(0);">
                                            <img src="/lib/img/assets/reduced/user.png" id="image" alt="image">
                                        </a>
                                    </li>
                                    <li class="col-4 col-md-4 col-sm-4">
                                        <a href="javascript:void(0);">
                                            <img src="/lib/img/assets/reduced/user.png" id="image" alt="image">
                                        </a>
                                    </li>
                                </ul>
                            </center>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('../partials/footer.html'); %>
    </section>
</section>