<section class="windowFrame container row" id="windowFrame">
    <!-- ProfileBar -->
    <%- include('../partials/profileBar.html'); %>
    <!-- MainBody -->
    <section class="mainBody col-md-9 col-md-8" id="mainBody">
        <div class="row">
            <div class="displayWindow col-md-12" style="box-shadow: none; border-radius: 0px; padding: 20px 30px;">
                <div class="profileMain">
                    <h3>Profile Page</h3>
                    <!-- Code here... -->
                    <section class="profileMainTop"></section>
                    <section class="profileMainBottom" id="workCon">
                        <header class="profileMain">
                            <!-- Code Here for work and education -->
                        </header>
                        <footer>
                            <!-- Code Here for other images (Instagram images collection) -->
                        </footer>
                    </section>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <%- include('../partials/footer.html'); %>
    </section>
</section>