<% layout('/app/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/app/shop.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/app/shop.js') -%>

<div class="row">
            <div class="displayWindow col-md-11 row" style="height: 620px; overflow: hidden; overflow-y: scroll; box-shadow: none; border-radius: 0px; padding: 20px 30px; border-left: 1px solid #eee;">
                <div style="margin-bottom: 50px; width: 100%;">
                    <h3 class="text-muted">
                        <%= title %>
                    </h3>
                    <div class="borderBottom"></div>
                </div>
                <!-- Container -->
            </div>
            <!-- ShopAds -->
            <%- include('../partials/shopAds.html'); %>
        </div>