<% layout('/auth/layout/template.html') -%>

<!-- Call Page Style Tag Here -->
<% stylesheet('/lib/css/guest/docs.css') -%>
<!-- Call Style Script Tag Here -->
<% script('/lib/scripts/guest/docs.js') -%>

<section class="cookieMessage">
    <!-- Header -->
    <header class="header" id="header">
        <nav>
            <br>
            <center>
                <a href="javascript:void(0);" style="display: block;" class="logoCon" style="box-sizing: content-box;">
                    <img src="/lib/img/logo/logoLandscape.png" id="logo" width="200" alt="logo">
                </a>
            </center>
            <br><br>
        </nav>
    </header>
    <br>
    <center>
        <section class="text-center text-dark"
            style="width: 50%; padding: 50px; margin-bottom: 70px; border-radius: 10px; background-color: #f6f6f6;">
            <br>
            <h2 style="font-weight: lighter;">Oops, Your lost...</h2>
            <br>
            <p>Address not foud!</p>
            <a href="/" role="button" class="btn waves-effect waves-light bg-Primary_color">Go Home</a>
        </section>
    </center>
    <br><br><br><br><br><br><br>
</section>