<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification Mail</title>
</head>
<body>
    <h3>Confirmation Email</h3>
    <p>Thanks <b><%=email%></b> For SignUp With Us Please click this link to verify your email</p>
    <p><a href="<%=tempUrl%>"><%=tempUrl%></a>  </p>
</body>
</html>