<style>
    .emojisDisplayCon {
        position: absolute !important;
        background-color: #fff;
        bottom: 7%;
        left: 0px;
        width: 95.4%;
        height: 200px;
        padding: 10px;
        border-radius: 15px 15px 0px 0px;
        margin: 0px 15px;
        border: 1px solid #eee;
        border-bottom: none;
    }

    .emojisDisplayCon header nav ul {
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid #eee;
    }

    .emojisDisplayCon header nav ul li {
        display: inline-block;
        margin: 0px;
    }

    .emojisDisplayCon header nav ul li a {
        display: block;
        padding: 2.5px 5px;
    }

    .emojisDisplayCon header nav ul li a i {
        font-size: 20px;
    }

    .emojisDisplayCon .emojisDisplayConBody {
        padding: 5px;
        margin: 0px;
        height: 155px;
        overflow: scroll;
        cursor: default;
    }

    .emojisDisplayCon .emojisDisplayConBody ul li {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .emojisDisplayCon .emojisDisplayConBody ul li a {
        display: block;
        margin: 2px;
    }

    .emojisDisplayCon .emojisDisplayConBody ul li a img {
        width: 25px;
        height: 25px;
    }



    .dynamicInput {
        margin: 0px;
        border: 1px solid #eee;
        padding: 6px !important;
        border-radius: 15px;
        background-color: #fff;
    }

    .dynamicInput.planeUp {
        box-shadow: 1px -0px 3px #eee;
    }
</style>

<!-- Dynamic Input -->
<form action="#" method="POST">
    <!-- Emojis Container -->
    <div class="emojisDisplayCon popUp hide">
        <header>
            <nav>
                <ul>
                    <li><a href="#"><i class="mdi mdi-history"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <li><a href="#"><i class="mdi mdi-emoticon"></i></a></li>
                    <input type="text" name="searchEmoji" id="searchEmoji" class="form-control"
                        placeholder="Search Emojis..."
                        style="border: none; padding: 4px 7px !important; border-radius: 0px !important; text-align: center; width: 150px !important; display: inline-block !important;">
                </ul>
            </nav>
        </header>
        <section class="emojisDisplayConBody">
            <ul>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
                <li><a href="#"><img src="/lib/img/logo/favicon.png" alt="logo"></a></li>
            </ul>
        </section>
    </div>
    <!-- DyInput Container -->
    <div class="dynamicInput planeUp row col-lg-12 mt-3">
        <!-- Input -->
        <div class="inputCon col-lg-8">
            <input type="text" name="message" id="message" class="form-control" placeholder="Type a message" required
                style="border: none !important; background-color: transparent; border-radius: 0px !important;">
        </div>
        <!-- Others -->
        <div class="OthersCon col-lg-4 row">
            <span class="col-lg-2"></span>
            <span class="emojiBtn col-lg-3" id="emoji">
                <button type="button" class="btn" style="border: none !important; padding: 7px 10px !important;">
                    <i class="mdi mdi-emoticon" style="font-size: 20px; margin-top: 2px;"></i>
                </button>
            </span>
            <span class="gifBtn col-lg-3">
                <button type="button" class="btn" style="border: none !important; padding: 8.5px 10px !important;">
                    <i
                        style="font-style: normal; padding: 3px; border: 1.5px solid #000000a7; border-radius: 5px;">GIF</i>
                </button>
            </span>
            <span class="sendBtn col-lg-4">
                <input type="submit" value="Send" class="btn"
                    style="border: none !important; padding: 8.5px 10px !important;">
            </span>
        </div>
    </div>
</form>