<center>
    <div class="container">
        <!-- Dynamic Input -->
        <form class="encounter-page-send-chat" action="#" method="POST">
            <!-- Input -->
            <div class="dynamicInput row mt-1"
                style="box-shadow: none; padding: 5px !important; border-radius: 15px;">
                <div class="inputCon col-md-10 col-sm-10  col-xs-9">
                    <textarea name="message" id="message" class="encounter-page-send-message form-control" placeholder="Type a message"
                        style="padding: 0px; resize: none; min-height: 45px !important; border: 1px solid #eee !important;" required></textarea>
                </div>
                <!-- Others -->
                <div class="OthersCon col-md-2 col-sm-2 col-xs-3">
                    <span>
                        <button type="submit" class="btn waves-effect waves-light bg-color">Send</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</center>