<form action="#" method="POST">
    <div class="form-row align-items-center">
        <!-- Input -->
        <div class="col-lg-12 mt-3">
            <!-- Check Chats for Dynamic Input -->
            <div class="dynamicInput" style="border: 1px solid #eee; background-color: #eee; padding: 5px; border-radius: 15px;">
                <div class="inputCon" style="width: 88%; display: inline-block;">
                    <input type="text" name="quickMessage" id="quickMessage" class="form-control"
                        placeholder="Write a message (Enter to send)" title="Press 'Enter' to send" required
                        style="border: none !important; background-color: transparent; border-radius: 0px !important;">
                </div>
                <div class="OthersCon" style="display: inline-block;">
                    <span>
                        <input type="submit" value="Post" class="btn" style="border: none !important;">
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>