<!-- PROFILEBAR -->
<section class="profileBar col-lg-3 col-sm-4" id="profileBar" style="color: #9e9997;">
    <div class="container">
        <!-- logo -->
        <div class="logoCon" id="logoCon">
            <div class="logo">
                <center>
                    <a href="" style="display: block;" style="box-sizing: content-box;">
                        <img src="/lib/img/logo/logoLandscape.png" id="logo" width="170" alt="logo">
                    </a>
                </center>
            </div>
        </div>
        <!-- Profile -->
        <div class="profileCon" id="profileCon">
            <div class="profileSection">
                <a href="/app/profile/:profileID">
                    <div class="profileImg" style="background-image: url('/lib/img/assets/user.png');"></div>
                </a>
                <ul>
                    <li id="username">James Clark</li>
                    <li id="popularity">
                        Popularity: <a href="/app/popularity/"><b class="text-muted">Calculating...</b></a>
                    </li>
                </ul>
            </div>
            <div class="profileOthers">
                <ul class="row">
                    <li class="col-lg-1 col-sm-0" style="width: unset;"></li>
                    <li class="col-lg-5 col-sm-5" style="width: unset;">
                        <a href="/app/wallet/balance" id="settlesBalance" title="Settles wallet and balance.">
                            <center>
                                <img src="/lib/img/assets/settle-topup.png" alt="settlesLogo" width="35" id="settleImg">
                                <div>
                                    <small class="text-muted">Settles</small><br>
                                    <span id="balance">Top Up</span>
                                </div>
                            </center>
                        </a>
                    </li>
                    <li class="col-lg-5 col-sm-5" style="width: unset;">
                        <a href="/app/packages/premium" id="getPremium" title="Activate premium.">
                            <center>
                                <img src="/lib/img/assets/premium-topup.png" alt="premiumLogo" width="37" id="premium">
                                <div>
                                    <small class="text-muted">Premium</small><br>
                                    <span id="is-active">Activate</span>
                                </div>
                            </center>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Main menu -->
        <div class="profileMenu" id="profileMenu">
            <ul>
                <li>
                    <a href="/app/encounters" class="<%= title.toLowerCase() == 'encounters' ? 'activeMenu' : '' %>"
                        id="encounters">
                        <span>Encounters</span>
                    </a>
                </li>
                <li>
                    <a href="/app/chats" class="<%= title.toLowerCase() == 'chats' ? 'activeMenu' : '' %>" id="chats">
                        <span>Chats</span>
                    </a>
                </li>
                <li>
                    <a href="/app/matched" class="<%= title.toLowerCase() == 'matched' ? 'activeMenu' : '' %>"
                        id="matched">
                        <span>Matched</span>
                    </a>
                </li>
                <li>
                    <a href="/app/likes" class="<%= title.toLowerCase() == 'likes' ? 'activeMenu' : '' %>" id="likes">
                        <span>Likes</span>
                    </a>
                </li>
                <li>
                    <a href="/app/visitors" class="<%= title.toLowerCase() == 'visitors' ? 'activeMenu' : '' %>" id="visitors">
                        <span>Visitors</span>
                    </a>
                </li>
                <li>
                    <a href="/app/favourites" class="<%= title.toLowerCase() == 'favourites' ? 'activeMenu' : '' %>"
                        id="favourites">
                        <span>Favourites</span>
                    </a>
                </li>
                <li>
                    <a href="/app/shop" class="<%= title.toLowerCase() == 'shop' ? 'activeMenu' : '' %>"
                        id="shop">
                        <span>Shop</span>
                        <span class="badge float-right" style"padding: 5px 10px; color: #fff;">New</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>