<div class="shopAds col-lg-1 col-md-1 col-sm-12">
    <ul>
        <li>
            <a href="javascript: void(0);">
                <div class="image" style="background-image: url('/lib/img/52.jpg');"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);" class="activeProfile hasStories">
                <div class="image" style="background-image: url('/lib/img/52.jpg');"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);">
                <div class="image" style="background-image: url('/lib/img/52.jpg');"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);" class="activeProfile hasStories">
                <div class="image" style="background-image: url('/lib/img/52.jpg');"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);">
                <div class="image" style="background-image: url('/lib/img/52.jpg');"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);" class="activeProfile hasStories">
                <div class="image" style="background-image: url('/lib/img/52.jpg');"></div>
            </a>
        </li>
    </ul>
</div>