<div class="statusBar col-md-1">
    <ul>
        <li>
            <a href="javascript: void(0);" class="activeProfile">
                <div class="image" style="background-image: url('/lib/img/52.jpg');"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);">
                <div class="image"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);">
                <div class="image"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);">
                <div class="image"></div>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);">
                <div class="image"></div>
            </a>
        </li>
    </ul>
</div>